/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

/* Header */
header {
    background-color: #A61C41;
    position: fixed;
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 250%;
}

h3 {
    padding-top: 20px;
}

header a {
    color: #fafafa;
    text-decoration: none;
}

/* Navigation menu */
nav {
    display: block;
    color: #fafafa;
    text-decoration: none;
    list-style-type: none;
}

nav>ul>li {
    text-decoration: none;
    list-style-type: none;
}

/* Banner section */
#banner {
    width: 100%;
    height: 500px;
    margin-top: 68px;
    background: url(../images/fa65c-imigracao-japonesa-no-brasil.webp) no-repeat left center/cover;
}

/* Main */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

p {
    padding-top: 20px;
}

#history {
    padding: 20px;
}

#history-text a {
    color: black;
}

#history h2 {
    margin-bottom: 20px;
}

#history h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#history-intro-image {
    background: url(../images/history-intro.webp) no-repeat center center/cover;
    width: 100%;
    min-height: 300px;
    padding-top: 20px;
}

.content {
    margin-top: 60px;
    padding: 20px;
}

/* Timeline */

.timeline {
    margin: 20px 0;
    padding: 20px;
    border-left: 2px solid #333;
}

.timeline h2 {
    font-size: 200%;
}

.timeline .event {
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
}

.timeline .event img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.timeline .event::before {
    content: "";
    position: absolute;
    left: -29px;
    top: 25px;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
}

.timeline .event-content {
    max-width: 100%;
}

.event-content p {
    padding-top: 20px;
}

.event-content img {
    padding-top: 20px;
}

.legend {
    padding-top: 10px;
    font-size: 75%;
}

/* Cultural Aspects */
#culture {
    margin-top: 77px;
    padding: 20px;
}

#culture img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    object-fit: contain;
}

/* References */
.evidence {
    margin-top: 20px;
}

.evidence img {
    max-width: 100%;
    height: auto;
}

#reference {
    margin-bottom: 64px;
    padding: 20px;
    line-height: 1.5;
}

#reference h2 {
    margin-bottom: 20px;
}

#reference a {
    text-decoration: none;
    color: black;
}

.reference-list {
    padding-left: 20px;
}

/* Footer */
footer {
    background-color: #A61C41;
    color: #fafafa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

footer i {
    color: #fafafa;
}

footer p {
    font-size: 75%;
}

/* Media query: tablets and larger phones (768px and up) */
@media screen and (min-width: 768px) {

    header {
        flex-direction: row;
    }

    #main-menu {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        margin: 0;
    }

    #main-menu a:hover {
        background-color: #fafafa;
        color: #A61C41;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        margin-left: 30px;

    }

    #logo {
        font-size: 250%;
    }

    .full-width-banner {
        height: 75%;
        /* Reduce height to 75% */
    }

    main {
        width: 100vw;
    }

    h2 {
        font-size: 400%;
    }

    #background-history {
        background-color: aliceblue;
        padding-bottom: 50px;
    }

    #history-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #history-text div {
        max-width: 500px;
        min-width: 300px;
        padding-left: 20px;
    }

    #history-intro-image {
        background: url(../images/history-intro.webp) no-repeat center center/cover;
        width: 100%;
        padding-top: 20px;
    }

    #history-text a {
        color: black;
        text-decoration: none;
    }

    #history-text a:hover {
        background-color: #fafafa;
        color: #A61C41;
    }

    /* Timeline */
    .event-content {
        display: flex;
        justify-content: space-between;
    }

    .event-content div {
        width: 500px;

    }

    .event-content img {
        height: 100%;
        width: 100%;
    }

    .reference-list {
        padding-left: 0px;
    }

    footer p {
        font-size: 100%;
    }

    footer i {
        font-size: 150%;
    }
}

/* Media query: desktops and large screens (1200px and up) */
@media screen and (min-width: 1200px) {
    h3 {
        font-size: 300%;
    }
    #history {
        margin: 0 5% 0 5%;
    }

    #history-text {
        justify-content: space-between;
    }

    #history h2 {
        font-size: 400%;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    #timeline {
        padding: 5%;
    }

    .timeline .event::before {
        content: "";
        position: absolute;
        left: -39px;
        top: 25px;
        width: 35px;
        height: 35px;
        background-color: #333;
        border-radius: 50%;
    }

    .event-title h3 {
        font-size: 300%;
    }

    .timeline .event {
        padding-left: 0;
    }

    .event-content div {
        padding-left: 20px;
    }

    /* Cultural Aspects */
    #culture {
        margin-top: 77px;
        margin: 0 5% 0 5%;
    }

    #cuisine {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #cuisine div {
        width: 750px;
        padding-top: 30px;
    }

    #art {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }

    #art div {
        width: 750px;
        padding-top: 30px;
    }
    #sports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #sports div {
        width: 750px;
        padding-top: 30px;
    }
}