/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

/* Header */
header {
    background-color: #A61C41;
    position: fixed;
    width: 100%;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header ul {
    text-align: right;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 250%;
    margin-top: 70px;
}

h3 {
    padding-top: 20px;
}

header a {
    color: #fafafa;
    text-decoration: none;
}

/* Navigation menu */
nav {
    display: block;
    color: #fafafa;
    text-decoration: none;
    list-style-type: none;
}

nav>ul>li {
    text-decoration: none;
    list-style-type: none;
    padding-top: 5px;
}

/* Banner section */
#banner {
    width: 100%;
    height: 500px;
    margin-top: 68px;
    background: url(../images/fa65c-imigracao-japonesa-no-brasil.webp) no-repeat left center/cover;
}

#banner-text {
    width: 70%;
    height: 250px;
    position: relative;
    top: 250px;
    left: 20px;
    background-color: rgba(240, 248, 250, 0.9);
    padding: 15px 0 0 10px;
}

#banner-text h2 {
    margin-top: 0;
}

/* Main */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

img {
    width: 100%;
}

p {
    padding: 20px 0;
}

#history {
    padding: 20px 10% 50px 10%;
    background-color: aliceblue;
}

#history-content a {
    color: black;
}

#history h2 {
    margin-bottom: 20px;
}

#history h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#history-intro-image {
    width: 100%;
    min-height: 300px;
    padding-top: 20px;
}

.content {
    padding: 20px;
}

/* Timeline */

.timeline {
    margin: 20px 0;
    padding: 20px;
    border-left: 2px solid #333;
}

.timeline h2 {
    font-size: 200%;
}

.timeline .event {
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
}

.timeline .event img {
    height: auto;
    margin-bottom: 10px;
}

.timeline .event::before {
    content: "";
    position: absolute;
    left: -29px;
    top: 25px;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
}

.timeline .event-content {
    max-width: 100%;
}

.event-content p {
    padding-top: 20px;
}

.event-content .legend {
    padding: 10px 0px;
}

.event-content img {
    padding-top: 20px;
}

.legend {
    padding-top: 10px;
    font-size: 75%;
}

/* Cultural Aspects */
#culture {
    margin-top: 77px;
    padding: 77px 10% 20px 10%;
    background-color: #fafafa;
}

#culture img {
    height: 100%;
    padding-top: 20px;
    object-fit: contain;
}

/* Subscribe */
#subscribe {
    margin-top: 77px;
    padding: 20px;
}

#subscribe-container {
    margin-top: 30px;
    padding: 20px 10px 20px 10px;
    background-color: #fafafa;
    box-shadow: 15px 15px #A61C41;
}

.form {
    display: flex;
    flex-direction: column;
}

#subscribe-text {
    text-align: center;
}

#subscribe-text p {
    padding: 5px;
}

.radio-buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 1em;
}

.text-input {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    margin-top: 10px;
    font-size: 1em;
    color: #0F121F;
}

.form-button {
    background: #A61C41;
    padding: 10px;
    margin: 20px;
    border: none;
    width: 50%;
    height: 65px;
    align-self: center;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    box-shadow: 0 4px 20px lightblue;
}

/* References */
#reference {
    margin-bottom: 64px;
    padding: 20px;
    line-height: 1.5;
}

#reference h2 {
    margin-bottom: 20px;
}

#reference a {
    text-decoration: none;
    color: black;
}

#reference li {
    padding-bottom: 5px;
}

.reference-list {
    padding-left: 20px;
}

/* Footer */
footer {
    background-color: #A61C41;
    color: #fafafa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

footer i {
    color: #fafafa;
}

footer p {
    font-size: 75%;
    padding: 2px 0;
}

/* Media query: tablets and larger phones (768px and up) */
@media screen and (min-width: 768px) {

    header {
        flex-direction: row;
        padding: 10px 70px 10px 70px;
    }

    #main-menu {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        margin: 0;
    }

    #main-menu a:hover {
        background-color: #fafafa;
        color: #A61C41;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        margin-left: 30px;

    }

    #logo {
        font-size: 250%;
    }

    .full-width-banner {
        height: 75%;
        /* Reduce height to 75% */
    }

    #banner-text {
        width: 50%;
        height: 500px;
        position: relative;
        top: 0;
        left: 368px;
        background-color: rgba(240, 248, 250, 0.9);
        padding: 80px 50px 50px;
    }

    #banner-text p {
        font-size: 150%;
    }

    main {
        width: 100vw;
    }

    h2 {
        font-size: 400%;
    }

    h3 {
        font-size: 200%;
    }

    /* History */
    #background-history {
        padding: 0 5%;
    }

    #history-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #history-content a {
        color: black;
        text-decoration: none;
    }

    #history-content a:hover {
        background-color: #fafafa;
        color: #A61C41;
    }

    /* Timeline */
    .content {
        padding: 70px 10% 0 10%;
    }

    .timeline .event::before {
        top: 35px;
    }

    .event-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .event-content div {
        width: 600px;

    }

    .event-content img {
        height: 100%;
    }

    /* Culture */
    #culture {
        margin-top: 0;
        padding: 77px 10% 20px 10%;
    }

    .reference-list {
        padding-left: 0px;
    }

    /* Subscribe */
    #subscribe {
        padding: 10%;
        margin-top: 0;
    }

    #subscribe-container {
        display: flex;
        flex-direction: column;
        padding: 30px 10px 20px 10px;
    }

    #subscribe-text p {
        padding-top: 10px;
    }

    #subscribe-form-container {
        width: 75%;
        align-self: center;
    }

    /* References */
    #reference {
        margin-bottom: 64px;
        padding: 10%;
        line-height: 1.5;
    }

    /* Footer */
    footer p {
        font-size: 100%;
        padding: 0;
    }

    footer i {
        font-size: 150%;
    }
}

/* Media query: laptops (1280px and up) */
@media screen and (min-width:1280px) {
    h2 {
        margin-top: 0;
    }

    /* Banner */
    #banner-text {
        width: 30%;
        height: 500px;
        position: relative;
        top: 0;
        left: 710px;
        background-color: rgba(240, 248, 250, 0.9);
        padding: 80px 50px 50px;
    }

    #banner-text p {
        font-size: 150%;
    }

    /* History */
    #history h3 {
        margin-top: 0;
        padding-top: 0px;
        margin-bottom: 20px;
    }

    #history-content {
        flex-direction: column;
    }

    #history-content-top {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #history-content-top>div {
        width: 500px;
    }

    #history-content-bottom {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    #history-content-bottom>div {
        width: 500px;
    }

    /* Culture */
    #culture {
        padding: 10%;
    }

    #culture img {
        object-fit: cover;
    }

    #cuisine {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    #cuisine div {
        width: 500px;
        height: 548px;
        padding-top: 30px;
    }

    #art {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    #art div {
        width: 500px;
        height: 681px;
        padding-top: 30px;
    }

    #sports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    #sports div {
        width: 500px;
        padding-top: 30px;
    }

    /* Subscribe */
    #subscribe-container {
        flex-direction: row;
        margin-top: 30px;
        padding: 20px;
        justify-content: space-between;
    }

    #subscribe-text {
        width: 100%;
        font-size: 200%;
        padding: 70px 70px;
    }
}

/* Media query: desktops and large screens (1600px and up) */
@media screen and (min-width: 1600px) {
    header {
        height: 80px;
    }

    h3 {
        font-size: 300%;
    }

    /* Banner*/
    #banner-text {
        width: 30%;
        height: 400px;
        position: relative;
        top: 0;
        left: 770px;
        background-color: rgba(240, 248, 250, 0.9);
        padding: 50px 50px 50px;
    }

    #history {
        padding: 10%;
    }

    #history-content {
        justify-content: space-evenly;
    }

    #history-content-top {
        justify-content: space-evenly;
    }

    #history-content-bottom {
        justify-content: space-evenly;
    }

    #history h2 {
        font-size: 400%;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    /* Timeline */

    #timeline {
        padding: 10%;
    }

    .timeline .event::before {
        content: "";
        position: absolute;
        left: -39px;
        top: 55px;
        width: 35px;
        height: 35px;
        background-color: #333;
        border-radius: 50%;
    }

    .event-title h3 {
        font-size: 300%;
    }

    .timeline .event {
        padding: 20px 0 0 0;
    }

    .event-content {
        flex-direction: row;
    }

    .event-content div {
        padding-left: 20px;
    }

    /* Cultural Aspects */
    #culture {
        padding: 10%;
    }

    #cuisine {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #cuisine div {
        width: 500px;
        padding-top: 30px;
    }

    #art {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }

    #art div {
        width: 500px;
        padding-top: 30px;
    }

    #sports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #sports div {
        width: 500px;
        padding-top: 30px;
    }
}